{% extends '::base.html.twig' %}
{% form_theme form 'ProductBundle:Default:custom_tag.html.twig' %}

    {% block stylesheets %}
        <link rel="stylesheet" href="/bundles/main/bootstrap/css/bootstrap.css" />
    {% endblock %}
    
    {% block title %}
        this is my title
    {% endblock %}
    
 {% block body %}
 <p>&nbsp;</p>
{# commented out
     {{ form_start(form) }}
      {{ form_errors(form) }}
#}
{{ form_start(form) }}
 <p>&nbsp;</p>
  {#
      {{ form_row(form.name) }}
 

 {{ dump(form.name.vars|keys) }}
 #}
     <table width =400 align=center>
         <tr>
             <td>
                 {{ form_label(form.name) }}:
                 {{ form_errors(form.name) }}
             </td>
             <td>
                 {{ form_widget(form.name)}}
             </td>
         </tr>
         <tr>
             <td>
                 {{ form_label(form.description) }}:
                 {{ form_errors(form.description) }}
             </td>
             <td>
                 {{ form_widget(form.description)}}
             </td>
         </tr>
         <tr>
             <td>
                  {{ form_label(form.price) }}:
                    {{ form_errors(form.price) }}
             </td>
             <td>
                 {{ form_widget(form.price)}}
                
                
             </td>
         </tr>
         <tr>
             <td>
                
             </td>
             <td>
                 {{ form_widget(form.save)}}
             </td>
         </tr>
     </table>
        
     {{ form_end(form)}}

 {% endblock %}
 
